@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto';
    /* background-color: brown; */
    --main-color: rgb(67, 159, 144);
    --bg-color: rgb(198, 226, 220);
    --desc-color: rgb(107, 106, 106);
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
}

.dash-title {
    font-weight: bold;
    font-size: xx-large;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: repeat(12, 3rem);
    gap: 5px;
    column-gap: 5px;
    padding-top: 1rem;
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar hr {
    width: 0%;
    color: rgba(0, 0, 0, 0);
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    /* background-color: blue; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 5rem;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.3);
}

.search-pane {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.search-pane img {
    height: 2rem;
}

.search-box {
    height: 2rem;
    width: 100%;
    border-radius: 16px;
    border: 0px;
    background-color: rgb(198, 226, 220);
    padding-left: 1rem;
}

.greeting-pane {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    padding-top: 1rem;
}

.greeting-message, .greeting-name {
    display: flex;
    font-weight: bold;
}

.greeting-message {
    align-items: flex-end;
}

.greeting-name {
    font-size: x-large;
    align-items: flex-start;
    padding-top: 0.75rem;
}

.user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15rem;
}

.user-info-name {
    font-weight: bold;
    font-size: larger;
}

.notifications {
    width: 35px;
    height: 35px;
}

.thumbnail {
    width: 50px;
    border-radius: 100%;
}

.profile-pic {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}


.profile-pic img {
    width: 90px;
    border-radius: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    background-color: var(--main-color);
    border: 0px;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: larger;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40vh 40vh;
    background-color: var(--bg-color);
}

.your-projects {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, repeat(3, 6fr);
    gap: 2rem;
    grid-row: 1 / 3;
}

.your-projects .projects-title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: larger;
    font-weight: bold;
    margin-bottom: -2rem;
}

.announcement-cards-container, .trending-cards-container, .project-card-container {
    background-color: white;
    border-radius: 0.5rem;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 7fr;
    margin-right: 2rem;
    grid-row: 1 / 2;
}

.announcement-cards-container {
    display: grid;
    grid-template-rows: 7fr 1fr 7fr 1fr 7fr;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    overflow: hidden;
    padding-bottom: 2rem;
}

.announcement-cards-container hr {
    width: 100%;
    color: rgb(216, 216, 216);
}

/* .announcement-card {
    display: grid;
    grid-template-rows: 1fr 6fr;
    margin-top: 1rem;
} */

.announcement-card {
    display: flex;
    flex-direction: column;
}

.announcement-title {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.announcement-description {
    color: var(--desc-color);
    font-size: 0.85rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.trending {
    margin-right: 2rem;
    margin-top: 1rem;
}

.trending-cards-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 1rem;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.trending-thumbnail {
    grid-row: 1 / 3;
    width: 50px;
    border-radius: 100%;
}

.trending-title {
    font-weight: bold;
}

.trending-description {
    color: var(--desc-color);
}

.side-card-title {
    font-weight: bolder;
    font-size: larger;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

.project-card-container {
    display: grid;
    grid-template-columns: 2% 98%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.project-card-ledger {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: goldenrod;
}

.project-card {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 3rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.project-card-title {
    font-weight: bold;
}

.project-card-description {
    color: rgb(87, 87, 87);
}

.project-card-interactions {
    display: flex;
    justify-content: end;
}

.project-card-interactions img {
    padding-left: 1rem;
    width: 24px;
}

/* Changes svg colors to white */
.svg-filter {
    margin-left: 1rem;
    width: 1.75rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
}

.nav-link, .dash-title {
    margin-left: 1rem;
    font-weight: bold;
    color: white;
}

.dashboard {
    margin-bottom: 6rem;
}

.dashboard-icon {
    width: 100%;
}
